<footer class="main-footer font-xs">
  <div class="row pb-30 pt-15">
    <div class="col-sm-6">
      <script>
        const currentDate = new Date();
        const year = currentDate.getFullYear();
        const month = currentDate.toLocaleString('default', { month: 'long' });
        const date = currentDate.getDate();
        document.write(date + ' ' + month + ', ' + year);
      </script>
    </div>
    <div class="col-sm-6">
      <div class="text-sm-end">
        All rights reserved
      </div>
    </div>
  </div>
</footer>
