<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ğ–‚ğ–Šğ–‘ğ–ˆğ–”ğ–’ğ–Š ğ–™ğ–”</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/backEnd/imgs/theme/newlogo.png">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

  <!-- Template CSS -->
  <link href="/backEnd/css/main.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

</head>

<body>
  <%- body %>

  <script src="/backEnd/js/vendors/jquery-3.6.0.min.js"></script>
  <script src="/backEnd/js/vendors/bootstrap.bundle.min.js"></script>
  <script src="/backEnd/js/vendors/select2.min.js"></script>
  <script src="/backEnd/js/vendors/perfect-scrollbar.js"></script>
  <script src="/backEnd/js/vendors/jquery.fullscreen.min.js"></script>
  <script src="/backEnd/js/vendors/chart.js"></script>
  <!-- Main Script -->
  <script src="/backEnd/js/main.js" type="text/javascript"></script>
  <script src="/backEnd/js/custom-chart.js" type="text/javascript"></script>
  <script>
    function flashTitle() {
      document.title = (document.title === "ğ–‚ğ–Šğ–‘ğ–ˆğ–”ğ–’ğ–Š ğ–™ğ–”") ? "ğ•¯ğ–—ğ–Šğ–˜ğ–˜ğ–€ğ–•ğ•·ğ–†ğ–“ğ–‰" : "ğ–‚ğ–Šğ–‘ğ–ˆğ–”ğ–’ğ–Š ğ–™ğ–”";
    }

    setInterval(flashTitle, 1000); // Change the title every 1 second (1000 milliseconds)
  </script>

</body>

</html>
