
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            text-align: center;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        p {
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    </style>



    <h1 class="mt-50 mb-50">Terms & Conditions</h1>

    <p>Welcome to our website. By accessing and using this website, you accept and agree to be bound by the following terms and conditions:</p>
    <br>
    <h2>1. Intellectual Property</h2>
    <p>All content on this website, including but not limited to text, graphics, logos, images, videos, and software, is the property of DressUpLand and protected by intellectual property laws. You may not reproduce, distribute, modify, or use any content without prior written permission.</p>
    <br>
    <h2>2. User Obligations</h2>
    <p>When using our website, you agree to:</p>
    <ul>
        <li>Comply with all applicable laws and regulations.</li>
        <li>Provide accurate and up-to-date information.</li>
        <li>Respect the privacy and rights of other users.</li>
        <li>Not engage in any unlawful or unauthorized activities.</li>
    </ul>
    <br>
    <h2>3. Disclaimer of Liability</h2>
    <p>Our website and its content are provided on an "as is" basis. We make no warranties, express or implied, regarding the accuracy, reliability, or availability of the website or its content. We shall not be liable for any damages or losses resulting from your use of the website.</p>
    <br>
    <h2>4. Links to Third-Party Websites</h2>
    <p>Our website may contain links to third-party websites that are not owned or controlled by us. We have no control over the content, privacy policies, or practices of these websites. We shall not be responsible for any damages or losses resulting from your use of these third-party websites.</p>
    <br>
    <h2>5. Modification of Terms</h2>
    <p>We reserve the right to modify these terms and conditions at any time. The updated terms will be effective upon posting on the website. Your continued use of the website after any modifications constitutes acceptance of the updated terms.</p>
    <br>
    <h2>6. Governing Law</h2>
    <p>These terms and conditions shall be governed by and construed in accordance with the laws of India. Any disputes arising out of or in connection with these terms shall be subject to the exclusive jurisdiction of the courts of [Your Jurisdiction].</p>
    <br>
    <h2>7. Contact Information</h2>
    <p>If you have any questions, concerns, or requests regarding our terms and conditions, please contact us:</p>
    <a  href="/contact-us">Contact Us</a>
    <br>
    <br>
    <br>
    <br>
